
<div class="area" >
  <ul class="circles">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
  </ul>
  
</div >

<div class="displayTable mx-auto">
  <div class="displayTableCell">
    <div class="authBlock">
      <h3>Sign In </h3>
      <div class="formGroup">
        <input
          type="text"
          class="formControl"
          placeholder="Username"
          #userName
          required
        />
      </div>
      <div class="formGroup">
        <input
          type="password"
          class="formControl"
          placeholder="Password"
          #userPassword
          required
        />
      </div>
      <div class="formGroup">
        <input
          type="button"
          class="btn btnPrimary"
          value="Log in"
          (click)="authService.SignIn(userName.value, userPassword.value)"

        />
        
      </div>
      <div class="formGroup">
        <span class="or"><span class="orInner">Or</span></span>
      </div>
      <div class="forgotPassword">
        <span routerLink="/Login/forgot-password2">Forgot Password?</span>
      </div>
      <div class="redirectToLogin text-secondary">
        <span
        class="text-secondary"
          >Don't have an account?<span
            class="redirect text-secondary"
            routerLink="/Login/register-user2"
          >
            Sign Up</span
          ></span
        >
      </div>
    </div>
  
  </div>
</div> 