@import url('https://fonts.googleapis.com/css2?family=Karma&display=swap');


.user{
    text-decoration: none;
    color: white;
    margin-left: 55%;
}
.karma-regular {
    font-family: "Karma", serif;
    font-weight: 400;
    font-style: normal;
  }
  