
<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow karma-regular">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0">
    <i class="fab fa-autoprefixer fa-2x ms-3 me-3"></i>
    <span class="ms-4">| Dashboard
    </span>  
  </a>
  
    <a class="user">
      <i class="fas fa-user"></i>
      <span  *ngIf="authService.userData as user"> Hello, {{user.displayName }}  </span>
    </a>
    <a class="btn btn-outline-light me-2" (click)="authService.SignOut()">
      <i class="fas fa-sign-out-alt"></i>Log out
    </a>
</nav>

<!-- Sidebar navigation -->
<div class="container-fluid ">
  <div class="row">
    <nav class="col-md-2 d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active">
              <i class="fas fa-user"></i>User Profile
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- Main content -->
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="inner-adjust">
               <div class="row" *ngIf="authService.userData as user">
          <div class="col-md-12">
            <!-- <div class="media">

              <div class="media-body text-light p-3">
                <p>User ID: {{user.uid}}</p>
                <p>Email: {{user.email}}</p>
                <p>Email Verified: {{user.emailVerified}}</p>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </main>
  </div>
</div>