<!-- Top navigation -->
<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand mr-0">
      <i class="fas fa-tasks fa-2x ms-3 me-3"></i>
      <span class="fs-2 ms-3">TaskList
      </span>
    </a>
    
      <a class="logout me-4 btn btn-outline-light" (click)="authService.SignOut()">
        <i class="fas fa-sign-out-alt"></i>Log out
      </a>
  
  </nav>
  <!-- Sidebar navigation -->
  <div class="container-fluid">
    <div class="row">
      <nav class="col-md-3 d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active">
                <i class="fas fa-user"></i>User Profile
              </a>
            </li>
            
          </ul>
        </div>
      </nav>

      <!-- Main content -->
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div class="inner-adjust">
         

        </div>
      </main>
    </div>
  </div>