<single-spa-router>

  <main>
    <route default>
      <application name="@Iserveu/adminLogin"></application>
    </route>
    <route path="Login">
      <application name="@Iserveu/Login"></application>

    </route>
  </main>
</single-spa-route>